.App {
  font-family: sans-serif;
  text-align: center;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {

  background-color: black;
}

/* snake body */

.snake {
  position: absolute;
  width: 15px;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.snake.right {
  transform: rotate(0deg);
}

.snake.left {
  transform: rotate(180deg);
}

.snake.up {
  transform: rotate(270deg);
}

.snake.down {
  transform: rotate(90deg);
}

.body-top {
  background-color: white;
  width: 100%;
  height: 7px;
  margin-bottom: 2px;
}

.body-bottom {
  background-color: white;
  width: 100%;
  height: 2px;
}

.snake-head .body-top {
  height: 10px;
  border-top-right-radius: 100%;
  border-top-left-radius: 50%;
  overflow: hidden;
}

.snake-open-mouth .body-top {
  height: 8px;
  border-top-right-radius: 100%;
  border-top-left-radius: 50%;
  overflow: hidden;
  transform: rotate(-30deg) translate(2px, -5px);
}

.snake-open-mouth .body-bottom {
  transform: rotate(10deg) translate(2px, 2px);
}

.snake-tail .body-top {
  height: 7px;
  overflow: hidden;
  background-color: transparent;
  position: relative;
}

.snake-tail .body-top::before {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  width: 100%;
  height: 100%;
  -ms-transform: skewY(-20deg);
  -webkit-transform: skewY(-20deg);
  transform: skewY(-20deg);
  background-color: white;
}

.snake-body.ate-food .body-top {
  height: 11px;
  border-top-right-radius: 40%;
  border-top-left-radius: 40%;

}

.snake-body.bend {
  overflow: hidden;
}

.snake-body.bend .inner-body-cont {
  width: 200%;
}

.snake-body.bend .inner-body-cont.inward {
  transform: rotate(-45deg) translate(0px, -12px);
}

.snake-body.bend .inner-body-cont.outward {
  transform: rotate(45deg) translate(-10px, 10px);
}

.snake-body.bend .inner-body-cont .body-top {
  height: 4px;
}

/* end of body */

.food {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: red;
}

.score {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.score-item {
  margin: 0;
}

.dashboard {
  width: 100dvw;
  max-height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.controls {
  margin: 10px;
}

.controls button {
  display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    color: var(--variant-containedColor);
    background-color: var(--variant-containedBg);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    height: 40px;
    min-width: 50px;
}

.game-status {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100px);
}

.pause-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}